.venv/
__pycache__/
*.pyc
train.zip
data/
clean/
weights/
.ipynb_checkpoints/
*.pdf
transformer/checkpoints/
transformer/kernel/kernel-metadata.json
transformer/kernel/output/
transformer/__pycache__/
*.zip