.venv/
__pycache__/
*.pyc
data/
clean/
weights/
.ipynb_checkpoints/
*.pdf
gpt/checkpoints/
gpt/kernel/kernel-metadata.json
gpt/kernel/output/
gpt/__pycache__/
*.zip
*.pt
*.Identifier
*.log
*.txt
*.json
!*.template.json
qwen/kernel/kernel-metadata.json
qwen/kernel/train_and_eval.py
qwen/output/
qwen/output_check/
gpt/infer_kernel/kernel-metadata.json
gpt/infer_output/
qwen/eval_kernel/kernel-metadata.json
qwen/eval_output/
*.csv